.confirm {
  @include flexbox();
  flex-direction: column;
  position: relative;

  width: 100%;
  height: 100%;
  padding: 20px 20px 10px;

  user-select: none;

  &__main-button {
    position: absolute;
    right: 40px;
    bottom: 40px;
    width: 135px;
    height: 135px;

    padding: 0;

    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: $background-color;

    background: $success;
    border: 3px solid $success;

    border-radius: 50%;
  }
}

.confirm-wrapper {
  @include flexbox(center, flex-start);
  flex-direction: column;
  position: relative;

  width: 100%;
  height: calc(100% - 40px);
  flex-grow: 1;
  padding-bottom: 30px;
}

.confirm-header {
  margin-top: 20px;

  &__info {
    margin-top: 10px;
  }
}

.confirm-content {
  @include flexbox(flex-start, flex-start);
  flex-direction: column;
  position: relative;

  width: 100%;
  height: calc(100% - 50px);

  border: 1.5px solid $success;
  box-shadow: $shadow;
  padding: 40px;
  margin-top: 30px;
  border-radius: 40px;

  &__message {
    @include flexbox();

    width: 100%;
    height: 100%;
  }
}

.confirm-plans {
  flex-grow: 1;

  height: 100%;
  width: 100%;
  margin-top: 40px;

  overflow: auto;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 20px;
    background: $font-light;
    margin: 0 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $font-main-light;
    border-radius: 20px;
    border: 1px solid $font-light;
  }
}

.confirm-plan {
  @include flexbox(flex-start, center);
  padding: 10px 0;

  &__label {
    white-space: nowrap;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 5px;
  }

  &__line {
    height: 40px;

    padding: 0 0 0 5px;
    margin: 0;

    box-sizing: border-box;

    &::after {
      content: "|";
      width: 10px;
      text-align: center;
      cursor: e-resize;
    }
  }

  &__time {
    padding: 0 0 0 10px;
  }

  &__arrows {
    @include flexbox(space-between, center);
    flex-grow: 1;
  }

  &__arrow {
    cursor: pointer;
  }
}

.confirm-buttons {
  @include flexbox(center, flex-end);
  height: 100%;
}