@mixin buttonable {
  width: 135px;

  margin: 0 0 10px 0;
  padding: 5px 25px;

  border-radius: 15px;
}

.profile {
  @include flexbox();
  flex-direction: column;

  width: 100%;
  height: 100%;
  padding: 20px 70px 70px;
}

.profile-wrapper {
  @include flexbox();
  flex-direction: column;

  width: 100%;
  flex-grow: 1;
}

.greeting {
  &__hello {
    font-weight: 400;
    font-size: 40px;
    color: $font-heading-1;
  }

  &__info {
    margin: 10px 0 0 0;

    font-weight: 400;
    font-size: 24px;
  }
}

.user-data {
  @include flexbox(space-between);
  width: 100%;
}

.settings {
  @include flexbox(center, flex-end);
  flex-direction: column;

  &__label {
    padding: 0 1.5rem;
  }

  &__button {
    @include buttonable();

    &_capitalized {
      text-transform: capitalize;
    }
  }

  &__input {
    @include buttonable();
    padding: 3px 25px;
  }
}

.statistics {
  @include flexbox(space-between);

  width: 100%;
  padding: 50px 0 0 0;
}

.statistics-tank {
  width: 28%;

  &__name {
    padding: 0 0 1rem 0;

    font-weight: 400;
    font-size: 24px;
  }

  &__content {
    height: 500px;
    padding: 1rem;

    border: 1px solid;
    border-radius: 1rem;

    &.fulfilled {
      border-color: #AFA64E;
    }

    &.underfulfilled {
      border-color: #BD3737;
    }

    &.overfulfilled {
      border-color: #549F7B;
    }
  }
}

.plan-square {
  @include flexbox(space-between);

  padding: 10px 20px;
  margin: 0 0 1rem 0;

  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.9);

  background: #549F7B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  border-radius: 10px;
}