.button {
  padding: 10px 20px;
  border: 1px solid $font-medium;
  border-radius: 20px;
  box-shadow: $shadow;
  background: $background-color;
  transition: .3s;
  cursor: pointer;

  &:disabled:hover {
    box-shadow: $shadow;
    transform: scale(1);
  }

  &:hover {
    box-shadow: $none-shadow;
    transform: scale(.98);
  }

  &_main {
    color: $font-medium;
    border-color: $font-medium;

    &:hover {
      color: $success;
      border-color: $success;
    }
  }

  &_signIn {
    border-color: $font-light;
    color: $font-light;
    background-color: transparent;

    &:disabled {
      border-color: $font-light-trans;
      color: $font-light-trans;

      &:hover {
        border-color: $font-light-trans;
        color: $font-light-trans;

        &>* {
          color: $font-light-trans;
          ;
        }
      }
    }

    &:hover {
      border-color: $sign-in-active;

      &>* {
        color: $sign-in-active;
        ;
      }
    }
  }
}

.nav-button {
  cursor: pointer;
  color: $font-medium;
  border: none;
  background: none;
  font-size: 16px;
  transition: .3s;
  width: auto;

  &:hover {
    color: $success;
    transform: scale(.95);
  }
}

.save-button {
  position: absolute;
  right: 70px;
  top: 20px;

  width: auto;
  padding: 5px 10px;

  border: none;
  border-radius: 14px;
  box-shadow: $shadow;

  color: $background-color;
  background-color: $success;
  font-size: 16px;

  animation: blink 2s infinite;

  cursor: pointer;
  transition: .3s;

  &_visible {
    animation: show 1s;
  }

  &_hidden {
    animation: hide 1s;
  }

  @keyframes show {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes hide {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes blink {
    0% {
      color: $background-color;
      transform: scale(1);
    }

    50% {
      color: $font-light;
      transform: scale(.95);
    }

    100% {
      color: $background-color;
      transform: scale(1);
    }
  }
}