.popup {
  position: fixed;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  backdrop-filter: blur(0px);
  opacity: 0;
  z-index: 100;

  &_show {
    opacity: 1;
    backdrop-filter: blur(5px);
    visibility: visible;
    background: $popup-background;
  }
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: $font-light;
  background-color: $color-background-2;
  padding: 80px;
  width: 500px;
  height: 500px;
  border-radius: 100%;
  box-shadow: $shadow;
  position: relative;

  &_error {
    background-color: $error;
  }

  &_warning {
    background-color: $warning;
  }

  &_success {
    background-color: $success;
  }

  &__title {
    text-align: start;
  }

  &__buttons {
    @include flexbox();
    justify-content: flex-start;
    position: absolute;
    left: 50%;
    transform: translate(-61%, 85px);
  }

  &__button {
    width: 100px;
    margin: 0 7px;
    background-color: transparent;
    color: $font-light;
    border-width: 1.5px;
    border-color: $font-light;
  }
}