// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------


html {
  color: $font-main;
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}