// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------


html {
  color: $font-medium;
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.title {
  font-size: 40px;
  font-weight: 500;
  color: $success;
  text-transform: capitalize;
}

.subtitle {
  font-size: 30px;
  font-weight: 500;
  color: $success;
  text-transform: capitalize;
}