.main {
  flex-grow: 1;
  width: 100%;
  height: calc(100% - 30px);
  display: flex;
  justify-content: center;

  &__container {
    width: 100%;
    max-width: 1380px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    opacity: 1;
    transition: .3s;
    visibility: visible;
    height: 100%;

    &_hide {
      opacity: 0;
      visibility: hidden;
    }

    &_no-select {
      user-select: none;
      cursor: col-resize;
    }
  }
}
