.main {
  flex-grow: 1;
  width: 100%;
  height: calc(100% - 30px);
  // padding: 20px;
  display: flex;
  justify-content: center;

  &__container {
    width: 100%;
    max-width: 1380px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
}

