// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------



/// @type Color
$background-color: #ffffff;

$font-main-light: #999999;

$font-main: #505050;

$font-medium: #8b8b8b;

$font-medium-light: #afafaf;

$font-light: #e3e3e3;

$font-light-trans: #e3e3e343;

$font-pale: #50505080;

$success: #549F7B;
$warning: #ca9e00;
$error: #BD3737;

$job-color: #9f5454;
$thought-color: #BD3737;

$success-trans: #549f7b56;

$popup-background: #9a9a9a50;

$color-background-1: #278f64;

$color-background-2: #d4466c;

$color-background-2-trans: #d4466c48;

$sign-in-active: #ffc800;


$shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
$shadow-dark: rgba(0, 0, 0, 0.35);

$none-shadow: rgba(0, 0, 0, 0) 0px 3px 3px 0px;



/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
  ) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: '/assets/' !default;